<!DOCTYPE html>
<html>
<head>
  <title>&lt;jakby_co&gt; blog | Develop tips and tricks thtat I use :)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <div class="container">&lt;jakby_co_blog&gt;</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= yield %>
      </div>
      <div class="col-md-4">
        <div class='post'>
          <br />
          About me
          <br />
        </div>
        <div class='post'>
          <br />
          Categories
          <br />
        </div>
      </div>
    </div>
  </div>



</body>
</html>
